.pill {
    font-size: 12px;
    font-family: "Readex Pro", sans-serif;
    padding: 0.5em 1em;
    margin: 0.25em;
    border-radius: 1em;
    border: none;
    outline: none;
    background: #dddddd;
    cursor: pointer;
  }
  
  .pill:not(.pill--selected):hover {
    background: #cccccc;
  }
  
  .pill--selected {
    background: #009578;
    color: #ffffff;
  }