{% extends 'base.html' %}

{% block title %} {{ user.fname }}'s Tasks {% endblock %}

{% block body %}

<h1>{{ user.fname }}</h1> 


{% if user.tasks == [] %}
<h4>No tasks to display yet!</h4>
{% endif %}

<form> 
    <button type="submit" formaction="/create-task"> NEW TASK </button>
</form>

<table>

{% for task in user.tasks %}
    <tr> <a href="/active-task/{{ task.task_id }}"> START TASK </a> </tr>
    <tr> {{ task.title }} </tr>
    <tr> {{ task.work_time }} </tr>
    <tr> <a href="/feedback-records/{{ task.task_id }}"> TASK FEEDBACK </a> </tr> <!--NEED TO GET FEEDBACK PAGE TO MATCH TASK ASSOCIATED-->
{% endfor %}

</table>

{% endblock %}


<!-- <a href="/users">this is the text the user would see</a> -->