{% extends 'base.html' %}


{% block head %}    
<link rel="stylesheet" type="text/css"  href="/static/feedback.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

{% endblock %}



{% block title %} Edit {{ task.title }}  {% endblock %}


{% block body %} 
<div class="box">
    <div class="container">
        <div class="top">
            <!-- <span>Have an account?</span> -->
            <header>Edit Your Task</header>
        </div>

        <form action="/edit-task/{{ task.task_id }}" method="POST">
            <div class="input-field">
                
                <input type="text" class="input" name="title" value="{{ task.title }}">
                <i class='bx bx-user' ></i>
            </div>
            
            <!-- <div class="input-field">
                <input type="text" class="input" name="work_time" placeholder="{{ task.work_time}}">
                <i class='bx bx-user' ></i>
            </div> -->

            <div class="input-field">
                <label for="work_time"></label>
                <select class="input" name="work_time" id="work_time" value="{{ task.work_time}}">
                    <option value="25 Minutes">25 Minutes</option>
                    <option value="35 Minutes">35 Minutes</option>
                    <option value="45 Minutes">45 Minutes</option>
                </select>
            </div>

            <!-- <div class="input-field">
                <input type="text" class="input" name="rest_time" placeholder="{{ task.rest_time}}">
                <i class='bx bx-user' ></i>
            </div> -->
            
            <div class="input-field">
                <label for="rest_time"></label>
                <select class="input" name="rest_time" id="rest_time" value="{{ task.rest_time}}">
                    <option value="5 Minutes">5 Minutes</option>
                    <option value="10 Minutes">10 Minutes</option>
                    <option value="15 Minutes">15 Minutes</option>
                </select>
            </div>


           
            <div class="input-field">
                <input type="submit" class="submit" value="Save Changes">
            </div>
      </form>

        
    </div>
</div>







<!--

<form action="/edit-task/{{ task.task_id }}", method="POST" id="edit-task">

    <h2> Task Title </h2>
        <p>
            <input type="text" name="title" value="{{ task.title }}">
        </p>


    <h2> Work Time </h2>
        <p>
            <label for="work_time"></label>
            <select name="work_time" id="work_time" value="{{ task.work_time}}">
                <option value="25 Minutes">25 Minutes</option>
                <option value="35 Minutes">35 Minutes</option>
                <option value="45 Minutes">45 Minutes</option>
            </select>
    
        </p>

    <h2> Rest Time </h2>
        <p>
            <label for="rest_time"></label>
            <select name="rest_time" id="rest_time" value="{{ task.rest_time}}">
                <option value="5 Minutes">5 Minutes</option>
                <option value="10 Minutes">10 Minutes</option>
                <option value="15 Minutes">15 Minutes</option>
            </select>
        </p>
    

    
    <p>
        <button type="submit" form="edit-task"> SAVE CHANGES </button>
    </p>

-->


{% endblock %}