{% extends 'base.html' %}

{% block title %} {{ task.title }}'s Feedback {% endblock %}

{% block body %}

<h1> {{ task.title }}'s Feedback </h1> 

{% if task.feedback == [] %}
<h4>No feedback to display yet!</h4>
{% endif %}


<table>

{% for feedback in task.feedback %}
    <div>
        {% if feedback.feedback_created_at != None %}
        <tr> {{ feedback.feedback_created_at.strftime("%-m/%d/%-y %-I:%M%p") }} </tr>
        {% else %}
        <tr>no date found</tr>
        {% endif %}
        <tr> {{ feedback.feedback }} </tr>
        <tr> {{ feedback.status }} </tr>
    </div>
{% endfor %}

</table>

{% endblock %}



<!-- <a href="/users">this is the text the user would see</a> -->