{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css"  href="static/styles.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}

{% block title %} Engine {% endblock %}

{% block body %}

<!--
<h2>Log In</h2>
<form action="/login" method="POST" id="login">
  <p>
    <input type="text" name="email" placeholder="Email">
  </p>

  <p>
    <input type="password" name="password" placeholder="Password">
  </p>
</form>

<div>
  <form> 
    <button type="submit" form="login"> LOG IN </button>
</form>
</div>

<div>
  <form> 
    <button type="submit" formaction="/create-user"> CREATE ACCOUNT </button>
</form>
</div>
-->

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~--

<header>
  <div class="logo">
    <p>ENGINE</p>
  </div>
  <nav>
    <ul>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
    </ul>
  </nav>
  <button><a href="#">Get Started</a></button>
</header>

      


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->




<div class="box">
  <div class="container">
      <div class="top">
          <!-- <span>Have an account?</span> -->
          <header>Engine</header>
      </div>


      <form action="/login" method="POST">
            <div class="input-field">
                <input type="text" class="input" name="email" placeholder="Email">
                <i class='bx bx-user' ></i>
            </div>
            <div class="input-field">
                <input type="Password" class="input" name="password" placeholder="Password">
                <i class='bx bx-lock-alt'></i>
            </div>
            <div class="input-field">
                <input type="submit" class="submit" value="Login">
            </div>
      </form>

      
      <div class="two-col">
          <div class="one">
           <!-- <input type="checkbox" name="" id="check"> 
             <label for="check"> Remember Me</label> -->
             <label><a href="/create-user">Create Account</a></label>
          </div>
          <div class="two">
              <label><a href="#">Forgot Password</a></label>
          </div>
      </div>
  </div>
</div>  






{% endblock %}
