{% extends 'base.html' %}


{% block title %} {{task}}'s Notes {% endblock %}

{% block body %}



<h1> {{task.title}}'s Notes </h1>

{% if task.notes == [] %}
<h4>No notes to display yet!</h4>
{% endif %}

<table>

    {% for note in task.notes %}
        <div>
            {% if note.note_created_at != None %}
            <tr> {{ note.note_created_at.strftime("%-m/%d/%-y %-I:%M%p") }} </tr>
            {% else %}
            <tr>no date found</tr>
            {% endif %}
            <tr> {{ note.note }} </tr>
        </div>
    {% endfor %}
    
</table>

    

{% endblock %}

